.div-style-1a346b5f {
    box-sizing: border-box;
    width: 1920px;
    background: white;
  }
  .div-style-f77e6334 {
    box-sizing: border-box;
    width: 100%;
  }
  .div-style-fa195537 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    padding-top: 16px;
  }
  .div-style-88410445 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    min-width: 1630px;
  }
  .div-style-cc7dba96 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .img-style-80a8d5f9 {
    box-sizing: border-box;
    display: block;
    width: 160px;
    max-width: initial;
    height: 50px;
  }
  .div-style-9a0b7a45 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 78px;
  }
  .div-style-986c8205 {
    display: flex;
    flex: 0 0 auto;
    width: 18px;
    height: 18px;
  }
  .p-style-cafd9eb2 {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    margin-left: 9px;
    font: 400 14px Ubuntu, sans-serif;
    color: #464d58;
  }
  .div-style-a78a552c {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .p-style-61601484 {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 500 14px Onest, sans-serif;
    color: #464d58;
    text-transform: uppercase;
  }
  .div-style-81a5ff69 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 72px;
  }
  .p-style-883859df {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 500 24px Onest, sans-serif;
    color: #18212e;
    text-transform: uppercase;
  }
  .p-style-5e03158 {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 400 14px Ubuntu, sans-serif;
    color: #18212e;
    text-decoration-line: underline;
  }
  .div-style-ee8898b7 {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-top: 15px;
    background: #ede0d5;
  }
  .div-style-4a06b5da {
    box-sizing: border-box;
    width: 100%;
    height: 0.1px;
    background: #ede0d5;
  }
  .div-style-4644b4ae {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .div-style-a98ed6b9 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 845px;
    padding-top: 130px;
  }
  .div-style-9c3f286d {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
  }
  .div-style-6ef9106 {
    flex: 0 0 auto;
    align-self: center;
    padding-left: 5px;
  }
  .div-style-515811e4 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 560px;
  }
  .div-style-a0ffc2d0 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .p-style-6b46838c {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 560px;
    padding: 0;
    margin: 0;
    font: 500 86px/86px Sweet Mavka Script;
    color: #6096de;
    text-align: left;
  }
  .p-style-2e73acab {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 560px;
    padding: 0;
    margin: 0;
    font: 300 24px/36px Ubuntu, sans-serif;
    color: #464d58;
    text-align: left;
  }
  .Button-style-8ffa808 {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 246px;
    min-width: 246px;
    height: 54px;
    font: 700 14px Ubuntu, sans-serif;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    background: #6096de;
    border: none;
    border-radius: 30px;
  }
  .div-style-e4917924 {
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 1px;
    margin-top: 188px;
    background: #ede0d5;
  }
  .div-style-ed887d58 {
    box-sizing: border-box;
    width: 100%;
    padding-right: 144px;
    padding-left: 144px;
    margin-top: 21px;
  }
  .p-style-460095c3 {
    padding: 0;
    margin: 0;
    font: 700 16px Onest, sans-serif;
    color: #18212e;
    text-transform: uppercase;
  }
  .p-style-8fa788b3 {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font: 400 16px Ubuntu, sans-serif;
    color: #464d58;
  }
  .div-style-eabf98c3 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 590px;
    padding-top: 704px;
    padding-bottom: 91px;
    padding-left: 535px;
    background: url("images/image_553b8874.png") 50% / cover no-repeat;
  }
  .div-style-ceca532d {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 54px;
    background: #ede0d5;
  }
  .div-style-7fa98a5 {
    display: flex;
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
  }
  .div-style-d2a5ae25 {
    flex: 0 0 auto;
    padding-top: 704px;
  }
  .div-style-68d32763 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
    height: 54px;
    background: #c19570;
  }
  .div-style-e021095b {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 156px;
    margin-left: 6px;
  }
  .div-style-985abbe8 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .img-style-627380c5 {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 285px;
    max-width: initial;
    height: 446px;
    clip-path: path("M0,0h285v446h-285z");
    object-fit: cover;
  }
  .div-style-2963bef8 {
    flex: 0 0 auto;
    margin-top: -314px;
  }
  .div-style-b2ff41ee {
    position: relative;
    box-sizing: border-box;
    width: 412px;
    height: 470px;
  }

.div-style-messangers{
  position: fixed;
  z-index: 1000;
  top: 40%;
  margin-right: 25px;
}

  .img-style-c1fab713 {
    position: absolute;
    top: 222px;
    box-sizing: border-box;
    display: block;
    width: 412px;
    max-width: initial;
    height: 248px;
  }
  .img-style-2be982f3 {
    position: absolute;
    left: 331px;
    box-sizing: border-box;
    display: block;
    width: 54px;
    max-width: initial;
    height: 182px;
  }
  .div-style-8da1bad {
    flex: 0 0 auto;
    margin-top: 42px;
  }
  .img-style-dea83e41 {
    box-sizing: border-box;
    display: block;
    width: 62px;
    max-width: initial;
    height: 8px;
  }
  .div-style-ff55074f {
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 1px;
    background: #ede0d5;
  }
  .div-style-19a34ada {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .div-style-bbdf48f {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: 1776px;
  }
  .div-style-fc663d32 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 38.57%;
  }
  .div-style-f2551b1e {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    max-width: 562px;
  }
  .p-style-453a791e {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 400 46px/64px Onest, sans-serif;
    color: #18212e;
    text-align: left;
    text-transform: uppercase;
  }
  .div-style-59ab0f2 {
    flex: 0 0 auto;
    margin-top: 25px;
  }
  .img-style-ffc021b {
    box-sizing: border-box;
    display: block;
    width: 140px;
    max-width: initial;
    height: 83px;
  }
  .div-style-2047ca8 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 1px;
    height: 500px;
    margin-left: 48px;
    background: #ede0d5;
  }
  .div-style-31b12611 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 38.34%;
    padding: 100px 15px 102px;
  }
  .div-style-5a012ceb {
    flex: 0 0 auto;
  }
  .div-style-5a013ceb {
    flex: 0 0 auto;
    margin-right: 1100px;
  }
  .p-style-d3d66ba8 {
    padding: 0;
    margin: 0;
    font: 500 26px/31px Sweet Mavka Script;
    color: #6096de;
  }
  .div-style-e21f9ff7 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 25px;
  }
  .p-style-68b285f2 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 650px;
    padding: 0;
    margin: 0;
    font: 400 16px/24px Ubuntu, sans-serif;
    color: #464d58;
    text-align: left;
  }
  .span-style-9699e477 {
    font: 400 16px/24px Ubuntu, sans-serif;
    color: #464d58;
    text-align: left;
  }
  .div-style-2ec9c4da {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-right: 400px;
  }
  .p-style-bbfc1744 {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 700 16px Onest, sans-serif;
    color: #18212e;
    text-transform: uppercase;
  }
  .div-style-1d6d4da7 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .div-style-7ede0c03 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 23.09%;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .img-style-da79779b {
    box-sizing: border-box;
    display: block;
    width: 360px;
    max-width: initial;
    height: 300px;
  }
  .div-style-7e582be0 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
  }
  .div-style-f7cef04f {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: stretch;
    justify-content: flex-start;
    width: 1631px;
  }
  .div-style-80fee0e4 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .p-style-fd04215b {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 42.06%;
    padding: 0;
    margin: 0;
    font: 400 60px Onest, sans-serif;
    color: #18212e;
    text-align: left;
    text-transform: uppercase;
  }
  .div-style-b0dd4629 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 57.94%;
    padding-top: 24px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .div-style-789bfdda {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .Button-style-de255fcb {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 97px;
    min-width: 97px;
    height: 54px;
    font: 500 14px Ubuntu, sans-serif;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    background: #c19570;
    border: none;
    border-radius: 30px;
  }
  .Button-style-fd71be24 {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 154px;
    min-width: 154px;
    height: 54px;
    font: 500 14px Ubuntu, sans-serif;
    color: #464d58;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
    border: 1px solid #ddc5b1;
    border-radius: 30px;
  }
  .Button-style-e30a8ee4 {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 141px;
    min-width: 141px;
    height: 54px;
    font: 500 14px Ubuntu, sans-serif;
    color: #464d58;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
    border: 1px solid #ddc5b1;
    border-radius: 30px;
  }
  .Button-style-9ba14304 {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 146px;
    min-width: 146px;
    height: 54px;
    font: 500 14px Ubuntu, sans-serif;
    color: #464d58;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
    border: 1px solid #ddc5b1;
    border-radius: 30px;
  }
  .div-style-a6390160 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .div-style-c3852973 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 622px;
    height: 546px;
    background: white;
    border: 1px solid #ede0d5;
  }
  .div-style-2a206aef {
    box-sizing: border-box;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: initial;
    height: 546px;
    padding: 15px;
    background: url("images/image_845d9c45.png") 50% / cover no-repeat;
  }
  .div-style-5a27bcd3 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-items: flex-start;
    align-self: center;
    justify-content: center;
    width: 230px;
  }
  .div-style-7e6a9b80 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    overflow: hidden;
    background: #a65ede;
    border-radius: 30px;
  }
  .p-style-7d533385 {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 700 10px Ubuntu, sans-serif;
    color: white;
    text-transform: uppercase;
  }
  .div-style-2d9ce815 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    overflow: hidden;
    background: #de665e;
    border-radius: 30px;
  }
  .div-style-aa220ec0 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    overflow: hidden;
    background: #dea65e;
    border-radius: 30px;
  }
  .div-style-fea1ba2e {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-top: 453px;
    background: url("images/image_f22cd73a.png") 50% / cover no-repeat;
  }
  .p-style-f4fa910 {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 500 24px Onest, sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
  .div-style-5137b390 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 50px 40px;
  }
  .div-style-e530317c {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    align-self: center;
    justify-content: flex-start;
  }
  .p-style-2df1560e {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 222px;
    padding: 0;
    margin: 0;
    font: 500 24px/36px Onest, sans-serif;
    color: #18212e;
    text-align: center;
    text-transform: uppercase;
  }
  .div-style-2f24d306 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-top: 210px;
  }
  .div-style-54b985f8 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    align-self: center;
    justify-content: flex-end;
  }
  .p-style-a139ab7e {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 500 34px Onest, sans-serif;
    color: #18212e;
    text-transform: uppercase;
  }
  .p-style-1bd6503a {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 400 14px Ubuntu, sans-serif;
    color: #464d58;
    text-decoration-line: line-through;
  }
  .Button-style-7c8d71a9 {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    min-width: 222px;
    height: 54px;
    margin-top: 30px;
    font: 700 14px Ubuntu, sans-serif;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    background: #6096de;
    border: none;
    border-radius: 30px;
  }
  .div-style-aebc3b3f {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 286px;
    height: 546px;
  }
  .div-style-8a82084 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    padding: 15px;
    background: url("images/image_7e60bfe.png") 50% / cover no-repeat;
  }
  .div-style-f4d7b356 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-items: flex-start;
    justify-content: center;
    margin-right: 13px;
    margin-left: 13px;
  }
  .div-style-b5e87eef {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-top: 287px;
    background: url("images/image_f22cd73a.png") 50% / cover no-repeat;
  }
  .div-style-8ff0854b {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
  }
  .div-style-48e78868 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
  }
  .p-style-717ad26b {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 286px;
    padding: 0;
    margin: 0;
    font: 700 16px/22.5px Onest, sans-serif;
    color: #18212e;
    text-align: center;
    text-transform: uppercase;
  }
  .div-style-c8ddae2b {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 286px;
    height: 1px;
    background: #ede0d5;
  }
  .div-style-9d1fc807 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 286px;
  }
  .div-style-9d0a98b3 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: center;
  }
  .Button-style-a86a27e8 {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 131px;
    min-width: 131px;
    height: 54px;
    font: 700 14px Ubuntu, sans-serif;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    background: #6096de;
    border: none;
    border-radius: 30px;
  }
  .div-style-7a33ed6 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    padding: 15px;
    background: url("images/image_21844c2b.png") 50% / cover no-repeat;
  }
  .div-style-694ff647 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    padding: 15px;
    background: url("images/image_905d1614.jpeg") 50% / cover no-repeat;
    border: none;
  }
  .div-style-24131c25 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    padding: 15px;
    background: url("images/image_9602b456.png") 50% / cover no-repeat;
  }
  .Button-style-4cbdbc9b {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    align-self: center;
    width: 183px;
    min-width: 183px;
    height: 54px;
    font: 700 14px Ubuntu, sans-serif;
    color: #6096de;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
    border: 1px solid #6096de;
    border-radius: 30px;
  }
  .div-style-b4a649e8 {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 100px;
  }
  .div-style-7f2b41fb {
    box-sizing: border-box;
    width: 100%;
    padding-right: 48px;
    padding-left: 144px;
    margin-top: 100px;
  }
  .div-style-c3a3c91c {
    box-sizing: border-box;
    max-width: 562px;
  }
  .p-style-ddecf8a1 {
    padding: 0;
    margin: 0;
    font: 400 60px Onest, sans-serif;
    color: #18212e;
    text-align: left;
    text-transform: uppercase;
  }
  .p-style-fa34fda2 {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    font: 400 16px/24px Ubuntu, sans-serif;
    color: #464d58;
    text-align: left;
  }
  .div-style-7e5029ad {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    margin-top: -290px;
  }
  .div-style-27bc0467 {
    flex: 0 0 auto;
    padding-right: 150px;
    padding-left: 845px;
    z-index: 1;
  }
  .div-style-55cc534f {
    box-sizing: border-box;
    width: 100%;
    padding-top: 446px;
    background: url("images/image_bd734d80.jpeg") 50% / cover no-repeat;
    margin-right: 20px;
  }
  .div-style-e66498e5 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #c19570;
  }
  .div-style-fd031a05 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-right: 140px;
    margin-top: -210px;
    background: #f9f5f1;
  }
  .div-style-b9d67a8 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-width: 1492px;
    padding-top: 40px;
    padding-bottom: 100px;
  }
  .div-style-920f22ab {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    width: 39.95%;
  }
  .img-style-67061610 {
    box-sizing: border-box;
    display: block;
    width: 270px;
    max-width: initial;
    height: 170px;
  }
  .img-style-5e9449de {
    box-sizing: border-box;
    display: block;
    width: 270px;
    max-width: initial;
    height: 170px;
    margin-left: 40px;
  }
  .div-style-bf2c2c9e {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 60.05%;
    padding-top: 116px;
    padding-right: 48px;
    padding-left: 50px;
  }
  .div-style-dada24ed {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #ede0d5;
  }
  .div-style-c9c8a53a {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 114px;
  }
  .div-style-298845a0 {
    box-sizing: border-box;
    flex: 0 0 auto;
    max-width: 512px;
  }
  .p-style-eed7edd3 {
    padding: 0;
    margin: 0;
    font: 400 46px Onest, sans-serif;
    color: #c19570;
    text-transform: uppercase;
  }
  .p-style-f6920505 {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font: 400 16px/24px Ubuntu, sans-serif;
    color: #464d58;
    text-align: left;
  }
  .div-style-a0fb811a {
    box-sizing: border-box;
    flex: 0 0 auto;
    max-width: 792px;
  }
  .div-style-d9fbb5d4 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    padding-top: 101px;
    padding-bottom: 102px;
    margin-top: -0.5px;
    padding-left: 150px;
    background: url("images/image_bd7112a2.png") 50% / cover no-repeat;
    background-position-x: 20px;
  }
  .div-style-14ba6735 {
    flex: 0 0 auto;
    margin-right: 139px;
  }
  .p-style-4d741bd5 {
    padding: 0;
    margin: 0;
    font: 400 60px Onest, sans-serif;
    color: #18212e;
    text-transform: uppercase;
  }
  .div-style-e542dbb0 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 40px;
  }
  .p-style-35812350 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 560px;
    padding: 0;
    margin: 0;
    font: 400 16px/24px Ubuntu, sans-serif;
    color: #464d58;
    text-align: left;
  }
  .div-style-beec35a9 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .p-style-2a416a3e {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 560px;
    padding: 0;
    margin: 0;
    font: 400 16px Ubuntu, sans-serif;
    color: #464d58;
    text-align: left;
  }
  .div-style-93da0500 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 560px;
    height: 24px;
  }
  .img-style-dd668067 {
    box-sizing: border-box;
    display: block;
    width: 6px;
    max-width: initial;
    height: 6px;
  }
  .p-style-90cd9158 {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    margin-left: 14px;
    font: 400 16px Ubuntu, sans-serif;
    color: #464d58;
  }
  .div-style-bd2b4987 {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
  .div-style-dd6d0efc {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: space-between;
  }
  .span-style-3676173a {
    font: 400 16px Ubuntu, sans-serif;
    text-align: left;
  }
  .img-style-fe47009c {
    box-sizing: border-box;
    display: block;
    width: 425px;
    max-width: initial;
    height: 665px;
    clip-path: path("M0,0h425v665h-425z");
    object-fit: cover;
  }
  .div-style-ed27b718 {
    flex: 0 0 auto;
    align-self: flex-end;
    margin-top: -254px;
  }
  .img-style-ec69fca4 {
    box-sizing: border-box;
    display: block;
    width: 700px;
    max-width: initial;
    height: 420px;
  }
  .div-style-7c898f9d {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    padding-top: 100px;
  }
  .div-style-d7395bd6 {
    box-sizing: border-box;
    width: 1632px;
  }
  .div-style-f64b3717 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    margin-top: 60px;
  }
  .div-style-e8025f77 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    width: 24.89%;
  }
  .img-style-61141f16 {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 90px;
    max-width: initial;
    height: 90px;
    clip-path: path("M0,45c0,-24.8528 20.1472,-45 45,-45v0c24.8528,0 45,20.1472 45,45v0c0,24.8528 -20.1472,45 -45,45v0c-24.8528,0 -45,-20.1472 -45,-45z");
    object-fit: cover;
  }
  .div-style-4b27e0b4 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 179px;
    height: 83px;
  }
  .p-style-642dc446 {
    padding: 0;
    margin: 0;
    font: 400 34px Onest, sans-serif;
    color: #18212e;
  }
  .div-style-761e4709 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-right: 50px;
  }
  .div-style-761e4710 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-right: -5px;
  }
  .div-style-761e4711 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-right: 123px;
  }
  .p-style-1ef06aa5 {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 700 16px Onest, sans-serif;
    color: #6096de;
    text-transform: uppercase;
  }
  .div-style-92b8b4ad {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 25.74%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .div-style-2d1176a2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
  }
  .div-style-9493be73 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 90px;
    height: 90px;
    padding-top: 8px;
    background: #2259f4;
  }
  .img-style-6c3da14d {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    max-width: initial;
    height: 74px;
    border: none;
    object-fit: cover;
  }
  .div-style-73784224 {
    flex: 0 0 auto;
    align-self: flex-end;
    padding-right: 14px;
    padding-left: 14px;
    margin-top: -28px;
  }
  .img-style-4d12e9e5 {
    box-sizing: border-box;
    display: block;
    width: 36px;
    max-width: initial;
    height: 36px;
  }
  .div-style-4220d210 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 120px;
    height: 83px;
  }
  .div-style-35dcfa88 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 49.37%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .div-style-7ae17a97 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 248px;
    height: 83px;
  }
  .div-style-1f7e9eeb {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    margin-top: 60px;
  }
  .div-style-b5c2d07d {
    box-sizing: border-box;
    width: 100%;
    padding-top: 61px;
    padding-bottom: 68px;
    margin-top: -0.5px;
    background: url("images/image_e129365f.png") 50% / cover no-repeat;
  }
  .div-style-d9708e99 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
  }
  .div-style-671303c8 {
    margin-top: 127px;
  }
  .div-style-d9708e99:first-child {
    margin-top: 0px;
  }
  .div-style-5f139f4d {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 18.73%;
  }
  .p-style-2124ec59 {
    box-sizing: border-box;
    max-width: 292px;
    padding: 0;
    margin: 0;
    font: 500 24px/36px Onest, sans-serif;
    color: #18212e;
    text-align: left;
    text-transform: uppercase;
    white-space: pre-wrap;
  }
  .div-style-32f21e05 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 33.97%;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px;
  }
  .div-style-99f918eb {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .p-style-be2e5ce9 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 435px;
    padding: 0;
    margin: 0;
    font: 300 24px Ubuntu, sans-serif;
    color: #18212e;
    text-align: left;
    white-space: pre-wrap;
  }
  .p-style-996c0d89 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 435px;
    padding: 0;
    margin: 0;
    font: 400 16px Ubuntu, sans-serif;
    color: #464d58;
    text-align: left;
    white-space: pre-wrap;
  }
  .div-style-fe642ecd {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 19.68%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .div-style-9e7d51cc {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 27.62%;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px;
  }
  .Button-style-f88f899c {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    align-self: center;
    width: 183px;
    min-width: 183px;
    height: 54px;
    margin-top: 50px;
    font: 700 14px Ubuntu, sans-serif;
    color: #6096de;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
    border: 1px solid #6096de;
    border-radius: 30px;
  }
  .div-style-d679f824 {
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 1px;
    margin-top: 100px;
    background: #ede0d5;
  }
  .div-style-30eaf1ed {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    align-self: center;
    justify-content: space-between;
    min-width: 1631px;
  }
  .div-style-31865f98 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    height: 54px;
    margin-top: 70px;
  }
  .div-style-6a9acc8a {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
    background: #ede0d5;
  }
  .div-style-f4d397c5 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 1px;
    background: #c19570;
  }
  .div-style-911685cc {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1210px;
  }
  .div-style-431d6705 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 202px;
    height: 202px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: white;
    border: 1px solid #ede0d5;
  }
  .img-style-f06794b6 {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 152px;
    max-width: initial;
    height: 152px;
  }
  .img-style-f22c6d46 {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 152px;
    max-width: initial;
    height: 152px;
    border: 1px solid #ede0d5;
    object-fit: cover;
  }
  .div-style-bda1af86 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
  .div-style-5a44a490 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 100px 48px 110px 144px;
    background: #f9f5f1;
  }
  .div-style-e25d1811 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
  }
  .div-style-c27e42c6 {
    flex: 0 0 auto;
    padding-bottom: 19px;
  }
  .div-style-3bb63cef {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .p-style-277905cd {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 400 14px Ubuntu, sans-serif;
    color: #464d58;
  }
  .div-style-a97598d3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 208px;
    margin-top: 60px;
  }
  .p-style-ae12c868 {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    font: 400 20px/24px Onest, sans-serif;
    color: #18212e;
  }
  .div-style-f8cf363f {
    box-sizing: border-box;
    width: 100%;
    margin-top: 108px;
  }
  .p-style-acec1cc {
    padding: 0;
    margin: 0;
    font: 400 14px Ubuntu, sans-serif;
    color: #464d58;
  }
  .div-style-e6d02d6d {
    margin-top: 30px;
  }
  .img-style-1d2b9b3d {
    box-sizing: border-box;
    display: block;
    width: 182px;
    max-width: initial;
    height: 54px;
  }
  .div-style-84cea85b {
    flex: 0 0 auto;
    align-self: flex-end;
    margin-top: -510px;
  }
  .img-style-5d8e8a8 {
    box-sizing: border-box;
    display: block;
    width: 935px;
    max-width: initial;
    height: 580px;
    clip-path: path("M0,0h935v580h-935z");
    object-fit: cover;
  }
  .div-style-285464 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .div-style-4286dba {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 425px;
    align-items: flex-end;
    justify-content: space-between;
    min-width: 1632px;
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .p-style-dd47251e {
    flex: 0 0 auto;
    padding: 0;
    padding-top: 7px;
    margin: 0;
    font: 400 14px Ubuntu, sans-serif;
    color: #464d58;
    text-decoration-line: underline;
  }
  .p-style-20792583 {
    flex: 0 0 auto;
    padding: 0;
    padding-top: 7px;
    margin: 0;
    font: 400 14px Ubuntu, sans-serif;
    color: #464d58;
  }
  .p-style-7c54fb05 {
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    margin-left: 8px;
    font: 900 22px Raleway, sans-serif;
    color: #464d58;
    letter-spacing: 0.44px;
  }
  .p-style-a3e28bdb {
    flex: 0 0 auto;
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
    font: 400 14px Ubuntu, sans-serif;
    color: #464d58;
  }